# LangSmith
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=prompt-optimization-challenge-resolved
LANGCHAIN_TRACING_V2=true
USERNAME_LANGSMITH_HUB=your_langsmith_username

# LLM Provider: google ou openai
LLM_PROVIDER=google
LLM_MODEL=gemini-2.5-flash
EVAL_MODEL=gemini-2.5-flash

# Google Gemini
GOOGLE_API_KEY=your_google_api_key_here

# OpenAI (opcional)
# OPENAI_API_KEY=your_openai_api_key_here
